<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      @ViewBag.Title
    </title>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet"/>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/web-calendar.js")"></script>
    <meta name="viewport" content="width=device-width">

</head>

<body>
@RenderBody() 


</body>

</html>
