@model HomeworkSubmission.DAL.Submission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Submission</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Student.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cours.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cours.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Topic.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Topic.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UploadDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UploadDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MIMEType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MIMEType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FilePath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FilePath)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
